*{
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
}

.plate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
    background-color: rgb(218, 224, 230);

}

.face{
    background-color: rgb(239, 190, 30);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    position: absolute;
}

.ep{
    background-color: black;
    height: 40px;
    width: 25px;
    border-radius: 50%;

}
.eye1 {
    position: absolute;
    left: 60px;
    top: 75px;
}

.eye2{
    position: absolute;
    right:60px;
    top:75px;
}

.lips{
     height:30px;
     width: 100px;
     position: relative;
     left: 74px;
     top: 150px;
     border-top-left-radius: 70%;
     border-top-right-radius: 70%;
     border-bottom-left-radius: 20%;
     border-bottom-right-radius: 20%;
     display: flex;
     justify-items: center;
     align-items: center;
     justify-content: center;
     background-color: white;
}

.tongue{

    height: 45px;
    width: 60px;
    position: absolute;
    background-image: linear-gradient( rgb(245, 116, 11),rgb(212, 60, 17),rgb(175, 17, 17));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    top: 25px;
    overflow: hidden;
}